<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head"); %>

<body>
    
    <div class="form-center ">
        <form class="row g-3 form">
            <div class="col-auto container-user-name">
            <label for="user-name">Name</label>
            <input type="text" class="form-control" id="user-name">
            </div>
            <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-3" id="user-name-btn">Confirm</button>
            </div>
        </form>
    </div>
<script src="/code/client.js"></script>
</body>
</html>