.form-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    height: 150px;
    width: 30%;
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}

.container-user-name {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    font-size: 25px;
}

.form-control {
    border: 1px solid black;
    margin-left: 5px;
}

.hide {
    display: none;
}

.chat {
    display: flex;
}

.message {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
    margin-left: 350px;
    padding: 0 100px;
}

.message-left {
    text-decoration: solid;
    font-size: 20px;
    width: 100%;
    padding: 10px;
    line-height: 12px;
}

.message-right {
    text-align: right;
    text-decoration: solid;
    font-size: 20px;
    width: 100%;
    padding: 10px;
}

.message-from {
    margin: -3px;
    padding: -3px;
    font-size: 12px;
    font-style: italic;
}